.button {
    display: flex;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    padding: 8px 16px;
}

.redes-contacto {
    @extend .button;
}

.nombree-boton {
    @extend .button;
    background-color: green;
}