@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

body {
        @include flexColumn;
}

main {
        @include gridCenter;

        .contenido-principal {
                @include containerStyle;

                .titulo {
                        @include titleStyle;

                }
        }
}

.textindex {
        font-size: $font.size-md;
        margin-top: 20px;
}

h2 {
        font-weight: $font-weight-bold;
}

.icon {
        width: 40px;
        padding-right: 10px;
}

.acercatitulo {
        font-size: font-size-lg;
        color: $color;
        font-weight: $font font-family: font-secondary;
}